django==2.2.24
psycopg2-binary
boto3
django-storages
django-debug-toolbar
markdown
bleach
django-reversion
django-ipware
django-widgets-improved
diff-match-patch
django-allauth
django-recaptcha
whoosh>=1.3.1
django-haystack
django-timezone-field
django-model-utils
pymdown-extensions
django_compressor
python-memcached
