{% extends "base.html" %}
{% load markdown %}

{% block title %}Account Inactive - MoDebate{% endblock %}

{% block body %}
<main role="main" class="container">
    {% if useria.active == 1 %}
    <h1>Account Deleted</h1>
    
    <p>This account has been deleted.</p>
    {% elif useria.active == 2 %}
    <h1>Account Suspended</h1>
    
    <p>This account has been suspended until {{useria.bandate|date:"D d M Y f A"}}.</p>
    {% if useria.bannote %}
    Moderator note:
    <br>
    {{useria.bannote|markdownf }}
    {% endif %}
    {% elif useria.active == 3 %}
    <h1>Account Terminated</h1>
    
    <p>This account has been terminated by MoDebate staff.</p>
    {% if useria.bannote %}
    Moderator note:
    <br>
    {{useria.bannote|markdownf }}
    {% endif %}
    {% endif %}
</main>
{% endblock %}