{% extends "base.html" %}
{% load markdown %}

{% block title %}Account Inactive - MoDebate{% endblock %}

{% block body %}
<main role="main" class="container">
    {% if useria %}
    {% if useria.active == 1 %}
    <h1>Account Deleted</h1>
    
    <p>This account has been deleted and its email addresses have been wiped from MoDebate's servers.</p>
    {% elif useria.active == 3 %}
    <h1>Account Terminated</h1>
    
    <p>This account has been terminated by MoDebate staff and its email addresses have been wiped from MoDebate's servers.</p>
    {% if useria.bannote %}
    Moderator note:
    <br>
    {{useria.bannote|markdownf }}
    {% endif %}
    {% endif %}
    {% else %}
    <h1>Invalid Session</h1>
    
    <p>Please try logging in again.</p>
    {% endif %}
</main>
{% endblock %}