{% extends 'base.html' %}

{% block snavbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 {% comment %}https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page{% endcomment %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% url 'profile' as profile %}
      <li class="nav-item{% if request.get_full_path == profile %} active{% endif %}">
        <a class="nav-link" href="{{profile}}">Profile{% if request.get_full_path == profile %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% url 'account_change_password' as chgpwd %}
      {% url 'account_set_password' as setpwd %}
      <li class="nav-item{% if request.get_full_path == chgpwd or request.get_full_path == setpwd %} active{% endif %}">
        <a class="nav-link" href="{{chgpwd}}">Password{% if request.get_full_path == chgpwd or request.get_full_path == setpwd %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% url 'socialaccount_connections' as conurl %}
      <li class="nav-item{% if request.get_full_path == conurl %} active{% endif %}">
        <a class="nav-link" href="{{conurl}}">Connections{% if request.get_full_path == conurl %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% url 'account_email' as email %}
      <li class="nav-item{% if request.get_full_path == email %} active{% endif %}">
        <a class="nav-link" href="{{email}}">Email{% if request.get_full_path == email %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% url 'account_modlogs' as modlogs %}
      <li class="nav-item{% if request.get_full_path == modlogs %} active{% endif %}">
        <a class="nav-link" href="{{modlogs}}">Mod Logs{% if request.get_full_path == modlogs %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% url 'account_logout' as logout %}
      <li class="nav-item{% if request.get_full_path == logout %} active{% endif %}">
        <a class="nav-link" href="{{logout}}">Log out{% if request.get_full_path == logout %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}