{% extends "base.html" %}

{% load account widget_tweaks %}

{% block title %}Password Reset - Ritser{% endblock %}

{% block body %}
    <main role="main" class="container">
    <h1 class="mt-5">Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Have you forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    {% include 'snippets/formerrors.html' %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
            {% render_field form.email class="form-control" %}
        </div>
        <input class="btn btn-primary" type="submit" value="Reset My Password" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>
    </main>
{% endblock %}
