{% load markdown %}
{% if reports %}
  <div class="list-group" data-close-url="{% url 'votedebate' %}">
    {% for report in reports %}
    <div class="list-group-item list-group-item-action flex-column align-items-start itemlisting">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><a href="{{ report.get_absolute_url }}" class="atit">{{ argument.title }}</a></h5>
      </div>
        <p class="mb-0 argdesc">{{ argument.body|markdownf }}</p>
        <small class="sinfo">{% if usercol %}<a href="{{ argument.owner.get_absolute_url }}">{{ argument.owner.get_username }}</a> - {% endif %}{% if not debv %}{% if argument.side == 0 %}For{% else %}Against{% endif %} - <a href="{{ argument.debate.get_absolute_url}}">{{ argument.debate.question }}</a> - <a href="{{ argument.topic.get_absolute_url }}">{{ argument.topic_id }}</a> - {% endif %}<span title="{{ argument.created_on|date:"c" }}">{{ argument.created_on|date:"D d M Y f A" }}</span> - {% if argument.approvalstatus == 0 %}<span class="badge badge-pill badge-primary">Approved</span>{% elif argument.approvalstatus == 1 %}<span class="badge badge-pill badge-secondary">Unapproved</span>{% elif argument.approvalstatus == 2 %}<span class="badge badge-pill badge-danger">Denied</span>{% endif %}{% if editalist %} - <a href="{{ argument.get_edit_url }}">Edit</a>{% endif %} {% include 'snippets/asavelink.html' %} <a href="{{ argument.get_report_url }}">Report</a></small>
    </div>
    {% endfor %}
  </div>
{% else %}
No reports found.
{% endif %}
