{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "debates/css/base.css" %}">

    <link rel="icon" href="{% static 'debates/img/favicon.ico' %}">

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggler" aria-controls="navbartoggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'debates/img/logo.png' %}" height="48" width="120"></a>


      <div class="collapse navbar-collapse" id="navbartoggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% url 'index' as index %}
          {% url 'feed' as feed %}
          <li class="nav-item{% if request.path == index or request.path == feed %} active{% endif %}">
            <a class="nav-link" href="{% if user.is_authenticated %}{{feed}}{% else %}{{index}}{% endif %}">Home {% if request.path == index or request.path == feed %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% url 'about' as about %}
          <li class="nav-item{% if request.path == about %} active{% endif %}">
            <a class="nav-link" href="{{about}}">About {% if request.path == about %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% url 'rules' as rules %}
          <li class="nav-item{% if request.path == rules %} active{% endif %}">
            <a class="nav-link" href="{{rules}}">Rules {% if request.path == rules %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% if user.ismod %}
          {% url 'ban' as ban %}
          <li class="nav-item{% if request.path == ban %} active{% endif %}">
            <a class="nav-link" href="{{ban}}">Moderate {% if request.path == ban %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search for a debate" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
        {% url 'profile' as profile %}
         <li class="nav-item{% if request.path == profile %} active{% endif %}">
        <a class="nav-link" href="{{profile}}">{{user.get_username}}{% if request.path == profile %} <span class="sr-only">(current)</span>{% endif %}</a>
         </li>
         </ul>
        {% else %}
        {% url 'account_login' as login %}
        <li class="nav-item{% if request.path == login %} active{% endif %}">
        <a class="nav-link" href="{{login}}">Login{% if request.path == login %} <span class="sr-only">(current)</span>{% endif %}</a>
         </li>
         {% url 'account_signup' as signup %}
         <li class="nav-item{% if request.path == signup %} active{% endif %}">
        <a class="nav-link" href="{{signup}}">Signup{% if request.path == signup %} <span class="sr-only">(current)</span>{% endif %}</a>
         </li>
        {% endif %}
        </ul>
      </div>
    </nav>
    {% block snavbar %}{% endblock %}
    {% if user.active == 2 %}
    <div class="alert alert-danger">
    This account has been suspended until {{user.bandate|date:"D d M Y"}}. 
    {% if user.bannote %}
    {% load modnotes markdown %}
    {% modnotes user.bannote|markdownf %}
    {% endif %}
    <a href="{% url 'rules' %}#suspensions">What does this mean?</a>
    </div>
    {% endif %}
    {% if messages %}
     {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
       </button>
    </div>
   {% endfor %}
{% endif %}
    {% block body %}{% endblock %}
    <footer class="footer">
      <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left">
              © 2018 MoDebate. All rights reserved.
            </div>
            <div class="col-md-6 text-md-right">
              <a href="{% url 'privacy' %}">Privacy</a> <a href="{% url 'terms' %}">Terms</a>
            </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    {% if not oendjs %}{% if not minjq %}<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>{% else %}<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" crossorigin="anonymous"></script>{% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>{% endif %}
    {% block endjs %}{% endblock %}
  </body>
</html>
