{% extends "base.html" %}

{% load static markdown %}

{% block title %}{{ puser.username }}'s profile - MoDebate{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static "debates/css/argumentslist.css" %}">{% endblock %}

{% block body %}

<main role="main" class="container">
    <h1>{{ puser.username }}'s profile</h1>
    {% if puser.modstatus == 1 %}
    <span class="badge badge-secondary">Global Moderator</span>
    <br>
    {% elif puser.modstatus == 2 %}
    <span class="badge badge-danger">Admin</span>
    <br>
    {% elif puser.modstatus == 3 %}
    <span class="badge badge-dark">Owner</span>
    <br>
    {% endif %}
    {% if puser.active == 2 %}
    <div class="alert alert-danger">
    This user's account is currently suspended. {% if user.isgmod %}<a href="{% url 'unsuspend'%}?user={{ puser.username }}" class="alert-link">Unsuspend</a>{% endif %}
    </div>
    {% elif user.isgmod %}
    <a href="{% url 'ban' %}?user={{ puser.username }}" class="text-danger">Suspend/Terminate</a>
    <br>
    {% endif %}
    {% if user.isadmin and not puser.isadmin or user.isowner %}
    <a href="{{ puser.get_modstatus_url }}">Change mod status</a>
    <br>
    {% endif %}
    <a href="{{ puser.get_debates }}">View Debates</a>
    <br>
    {% with puser.topics_owned.all as topics_owned %}
    {% if topics_owned %}Topics owned: {% for topic in puser.topics_owned.all %}{% if not forloop.first %}, {% endif %}<a href="{{ topic.get_absolute_url}}">{{topic.name }}</a>{% endfor %} <br>{% endif %}
    {% endwith %}
    {% with puser.moderator_of.all as moderator_of %}
    {% if moderator_of %}Moderator of: {% for topic in moderator_of %}{% if not forloop.first %}, {% endif %}<a href="{{ topic.get_absolute_url}}">{{topic.name }}</a>{% endfor %} <br>{% endif %}
    {% endwith %}
    Bio:
    <br>
    {{ puser.bio|markdownf }}
    <hr>
    Arguments:
    <br>
    {% include 'snippets/argumentslist.html' %}
    {% if arguments.has_other_pages %}
    {% load paginator %}
    {% load link_name %}
    {% paginator arguments request %}
    {% endif %}
</main>

{% endblock %}
