{% extends "base.html" %}

{% load static %}

{% block title %}{{ puser.username }}'s profile - Ritser{% endblock %}
{% block head %}
<meta name="description" content="See arguments and debates from {{puser.username}} on Ritser">
{% endblock %}


{% block body %}

<main role="main" class="container">
    {% include 'accounts/snippets/user.html' %}
    {% include 'snippets/argumentslist.html' %}
    {% if arguments.has_other_pages %}
    {% load paginator %}
    {% load link_name %}
    {% paginator arguments request %}
    {% endif %}
</main>

{% endblock %}
