{% extends "debates/mod/base.html" %}

{% block title %}Mod Logs - MoDebate{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
        <div class="col-md-3">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
                Arguments
                <span class="badge badge-primary badge-pill">0</a>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                  Debates
                  <span class="badge badge-primary badge-pill">0</a>
                  </a>
            </div>
        </div>
        <div class="col-md-9">
            hey
        </div>
        </div>
    </main>
{% endblock %}