{% extends "base.html" %}

{% load static %}

{% block title %}About - Ritser{% endblock %}

{% block head %}
<meta name="description" content="Learn how we structure our debates to change people's minds.">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="display-4 mt-5">The way people think is flawed. Ritser gives you the tools to change that.</h1>
    <div class="page-header">
      <h1>About Ritser</h1>
    </div>
    <p>Launched in spring 2020, Ritser is a platform made to let people easily share useful, substantiated information. The accessibility of this information changes people's minds in an organized and efficient manner that saves time and reduces the impact of fake news and bias. Read on if you want to learn more.</p>
    <h2>The Problem</h2>
    <p>You likely have participated in debates at least a few times in your life, whether they were about politics, religion, or video game theories. It is also likely that some of these debates have not changed someone's mind for the better, whether it was yours or your opponent's. This might seem insignificant, but it uncovers the fact that our decision-making processes are deeply flawed.</p>
    <p>Our opinions have a very large effect on our lives, so it is very important to rationally assess how we choose them. Most people ignore the fact that they may be wrong, assume their opponents' decision-making processes are flawed, and try to debate others into believing what they believe. However, that does not work when these people are wrong and their opponents are right, resulting in the retainment of their false beliefs. The problem is not that false ideas exist. It is that our decision-making processes sometimes lead us to believing them and keeping those beliefs even when challenged.</p>
    <p>It doesn't help that platforms used for debate are rarely to support debates. People often can and do dislike/downvote their opponents for the sole purpose of disagreeing with them, strengthening the effects of many biases and discouraging critical thinking. This causes the harms the accuracy of people's opinions.</p>
    <p>Not enough attention is paid to how damaging this is. The way people think and obtain their opinions has a very large effect on the world, and it needs to be fixed if we want to bring about real change.</p>
    <h2>The Solution</h2>
    <p>In order to improve the way we obtain our opinions, we must first understand it. There are many factors that influence our views, such as the following:</p>
    <ol>
      <li>our emotions</li>
      <li>our willingness to have these opinions</li>
      <li>evidence found by us</li>
      <li>other biases that we have</li>
    </ol>
    <p>All of these factors are <i>subjective</i> (different based on who you are) while the truth is <i>objective</i> (the same regardless of who you are), so there is no way to obtain the truth with 100% certainty. However, one of these factors can reliably predict the objective truth: evidence. That means we should try to eliminate the effects of all the other factors by identifying them and countering them, but we should not stop there. Evidence can be forged or falsified, so we must try our best to verify its accuracy. And since the truth is objective, we should also try to evaluate evidence as objectively as possible by considering a variety of perspectives without censorship.</p>
    <p>In theory, if we do all that, we will reach a consensus on most issues, and the world will be a better place.</p>
    <p><strong>It all comes down to getting the notion that you have to win the debate out of your head and replacing it with a desire to learn the truth in cooperation with who you are debating. Once your goal is to learn the truth, even if you're wrong, rather than to confirm your existing beliefs, everyone wins.</strong></p>
    <p>If you want to read more about this, check out <a href="https://ibrahimahmed.ca/essay.pdf">this essay.</a></p>
    <h2>Our Role</h2>
    <p>This website was started to make evidence virtually the only factor that affects your opinions and make it as objective as possible. We do this by encouraging people coming from different backgrounds to share information from various perspectives, making it easier to form an unbiased judgement regarding what the objective truth is. Ritser is different from other online discussion forums in that it is built to promote a variety of perspectives.</p>
    <p>Instead of one-on-one debates that incentivize winning the debate using likes or upvotes, we incentivize posting as many clear and concise useful arguments as possible to public debates regardless of which side they're on. This means our goal is very different from those of many other debate platforms. Our debates are structured to educate people as efficiently as possible, not to confirm the debaters' existing beliefs.</p>
    <p>Our purpose is not to tell you what to believe, but rather to give you the tools to choose your own beliefs in a bias-free, open-minded way.</p>
    <p><strong>TL;DR:</strong> We don't like how pointless most arguments are. We've built Ritser to change that by exposing everyone to all perspectives.</p>
    <br />
  </div>
{% endblock %}
