{% extends "base.html" %}
{% load markdown %}


{% block title %}{{ argument.title }} - Ritser{% endblock %}

{% block head %}
<meta name="description" content="{{ argument.body|markdownf|striptags|truncatechars:300 }}">
{% endblock %}

{% block body %}
    <main role="main" class="container">
      <h1 class="mt-5">{{ argument.title }}</h1>
      <a href="{{ argument.get_edit_url }}">Edit/View source</a> -
      <a href="{{ argument.get_edits_url }}">Edits</a> -
      {% include 'snippets/asavelink.html' %} - <a href="{{ argument.get_report_url }}">Report</a>
      <br>
      Owner: <a href="{{ argument.owner.get_absolute_url}}">{{ argument.owner.get_username }}</a>
      <br>
      Status: {% if argument.approvalstatus == 0 %}<span class="badge badge-pill badge-primary">Approved</span>{% elif argument.approvalstatus == 1 %}<span class="badge badge-pill badge-secondary">Unapproved</span>{% elif argument.approvalstatus == 2 %}<span class="badge badge-pill badge-danger">Denied</span>{% elif argument.approvalstatus == 3 %}<span class="badge badge-pill badge-dark">Hidden</span>{% endif %}</small>
      <br>
      Topic: <a href="{{ topic.get_absolute_url}}">{{ topic.name }}</a>
      <br>
      Debate: <a href="{{ debate.get_absolute_url}}">{{ debate.question }}</a>
      <br>
      Created on <span title="{{ argument.created_on|date:"c" }}">{{ argument.created_on|date:"D d M Y f A"}}</span>
      {% if argument.modnote %}
      {% load modnotes %}
      {% modnotes argument.modnote|markdownf %}
      {% endif %}
      <hr>
      {{ argument.body|markdownf }}


    </main>
{% endblock %}
