{% extends "base.html" %}
{% load markdown revision static %}
{% block title %}{{ argument.title }} - Edits - Ritser{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static "debates/css/edits.css" %}">{% endblock %}
{% block body %}
<main role="main" class="container">
    <h1 class="mt-5">{{ argument.title }} - Edits</h1>
    Owner: <a href="{{ argument.owner.get_absolute_url}}">{{argument.owner.get_username }}</a>
    Status: {% if argument.approvalstatus == 0 %}<span class="badge badge-pill badge-primary">Approved</span>{% elif argument.approvalstatus == 1 %}<span class="badge badge-pill badge-secondary">Unapproved</span>{% elif argument.approvalstatus == 2 %}<span class="badge badge-pill badge-danger">Denied</span>{% elif argument.approvalstatus == 3 %}<span class="badge badge-pill badge-dark">Hidden</span>{% endif %}</small>
    Topic: <a href="{{ topic.get_absolute_url}}">{{topic.name }}</a>
    Debate: <a href="{{ debate.get_absolute_url}}">{{debate.question }}</a> - <a href="{{ argument.get_edit_url }}">Edit/View source</a> - <a href="{{ argument.get_absolute_url }}">Link</a>
    {% if argument.modnote %}
    {% load modnotes %}
    {% modnotes argument.modnote|markdownf %}
    {% endif %}
    <hr />
    <div id="accordion">
    {% for version in versions %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
            <span title="{{ version.revision.date_created|date:"c" }}">{{version.revision.date_created|date:"D d M Y f A"}}</span> by {{ version.revision.user.get_username }}{% if version|modaction %} <span class="badge badge-warning">Moderator Action</span>{% endif %}
          </button>
        </h5>
      </div>

      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
        <div class="card-body">
          User: <a href="{{ version.revision.user.get_absolute_url}}">{{version.revision.user.get_username }}</a>
          <br />
          {% ifchanged %}
          Owner: <a href="{{ version|owner|url}}">{{version|owner|username }}</a> <br />{% endifchanged %}
          {% ifchanged %}Order: {{ version|field:"order" }}
          <br />{% endifchanged%}
          {% ifchanged %}Side: {% if version|field:"side" == 0 %}For{% else %}Against{% endif %}
          <br />{% endifchanged%}
          {% ifchanged %}Approval Status: {% if version|field:"approvalstatus" == 0 %} <span class="badge badge-pill badge-success">Approved</span>{% elif version|field:"approvalstatus" == 1 %} <span class="badge badge-secondary">Unapproved</span>{% elif version|field:"approvalstatus" == 2 %} <span class="badge badge-pill badge-danger">Denied</span>{% elif version|field:"approvalstatus" == 3 %} <span class="badge badge-pill badge-dark">Hidden</span>{% endif %}
          <br />{% endifchanged %}
          {% ifchanged version|field:"modnote" %}{% modnotes version|field:"modnote" forloop.counter %}
          <br />{% endifchanged %}
          {% if isadmin %}
          IP: {{ version|ip }}
          <br />{% endif %}
          {% ifchanged %}Topic: <a href="{{ version|topic|url}}">{{version|topic|name }}</a>
          <br />{% endifchanged %}
          {% ifchanged %}Debate: <a href="{{ version|debate|url}}">{{version|debate|question }}</a>
          <br />{% endifchanged %}
          Title: {{ version|titchg }}
          <br />
          Body: {{ version|bodchg }}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  {% if versions.has_other_pages %}
  {% load paginator %}
  {% paginator versions request %}
  {% endif %}
</main>
{% endblock %}
