{% extends "base.html" %}
{% load markdown revision static %}
{% block title %}{{ debate.question }} - Edits - MoDebate{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static "debates/css/edits.css" %}">{% endblock %}
{% block body %}
<main role="main" class="container">
  <h1 class="mt-5">{{ debate.question }} - Edits</h1>
  Topic: <a href="{{ topic.get_absolute_url}}">{{topic.name }}</a> -
  Owner:
  <a href="{{ debate.owner.get_absolute_url}}">{{debate.owner.get_username }}</a> -
  Security Level: {{ debate.slvl }}{% if debate.approvalstatus == 0 %} <span class="badge badge-pill badge-success">Approved</span>{% elif debate.approvalstatus == 2 %} <span class="badge badge-pill badge-danger">Denied</span>{% endif %} - <a href="{{ debate.get_edits_url }}">Edit/View source</a> - <a href="{{ debate.get_absolute_url }}">Link</a>
  {% if debate.modnote %}
  {% load modnotes %}
  {% modnotes debate.modnote|markdownf %}
  {% endif %}
  <hr />
  <div id="accordion">
    {% for version in versions %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
            <span title="{{ version.revision.date_created|date:"c" }}">{{version.revision.date_created|date:"D d M Y f A"}}</span> by {{ version.revision.user.get_username }}{% if version|modaction %} <span class="badge badge-warning">Moderator Action</span>{% endif %}
          </button>
        </h5>
      </div>
  
      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
        <div class="card-body">
          User: <a href="{{ version.revision.user.get_absolute_url}}">{{version.revision.user.get_username }}</a>
          <br>
          {% ifchanged %}
          Owner: <a href="{{ version|owner|url}}">{{version|owner|username }}</a> <br>{% endifchanged %}
          {% ifchanged %}Security level: {{ version|field:"slvl" }}
          <br>{% endifchanged%}
          {% ifchanged %}Approval Status: {% if version|field:"approvalstatus" == 0 %} <span class="badge badge-pill badge-success">Approved</span>{% elif version|field:"approvalstatus" == 1 %} <span class="badge badge-secondary">Unapproved</span>{% elif version|field:"approvalstatus" == 2 %} <span class="badge badge-pill badge-danger">Denied</span>{% endif %}
          <br>{% endifchanged %}
          {% ifchanged version|field:"modnote" %}{% modnotes version|field:"modnote" forloop.counter %}
          <br>{% endifchanged %}
          {% if isadmin %}
          IP: {{ version|ip }}
          <br>{% endif %}
          {% ifchanged %}Topic: <a href="{{ version|topic|url}}">{{version|field:"topic_id" }}</a>
          <br>{% endifchanged %}
          Question: {% if forloop.last and not version|titchg %}{{ version|field:"question" }}{% else %}{{ version|titchg }}{% endif %}
          <br>
          Description: {% if forloop.last and not version|bodchg %}{{ version|field:"description" }}{% else %}{{ version|bodchg }}{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
  {% if versions.has_other_pages %}
  {% load paginator %}
  {% paginator versions request %}
  {% endif %}
</main>

{% endblock %}
