{% extends "base.html" %}
{% load markdown_deux_tags %}

{% load humanize %}
{% load static %}

{% block title %}{{debate.question}} - {{topic.name}}{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static "debates/css/debate.css" %}">{% endblock %}

{% block body %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-1 align-middle" id="karmad">
          <div class="align-middle" id="voting" data-debate-id="{{debate.id}}" data-vote-url="{% url 'votedebate' %}">
            {% if request.user.is_authenticated %}<div class="arrow-up{% if vote == 1 %}-selected{% endif %} votebtn"></div>{% endif %}
            <span class="karmacount" title="karma (votes)">{{debate.karma|intcomma}}</span>
            {% if request.user.is_authenticated %}<div class="arrow-down{% if vote == -1 %}-selected{% endif %} votebtn"></div>{% endif %}
          </div>
        </div>
        <div class="col-md-11">
          <h1 class="mt-5">{{debate.question}}</h1>
          Topic: <a href="{% url 'topic' tname=topic.name %}">{{topic.name}}</a> -
          Owner:
          <a href="{% url 'profile' uname=debate.owner.username %}">{{debate.owner.username}}</a> - 
          Security Level: {{debate.slvl}}
          <br>
          {{debate.description|markdown}}
        </div>
      </div> test
      <h1>{% if apprs == 0 %}Approved {% elif apprs == 1 %}Unapproved {% elif apprs == 2 %}Denied {% endif %}Arguments</h1>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="for-tab" data-toggle="tab" href="#for" role="tab" aria-controls="for" aria-selected="true">For</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="against-tab" data-toggle="tab" href="#against" role="tab" aria-controls="against" aria-selected="false">Against</a>
        </li>
      </ul>
      <br>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="for" role="tabpanel" aria-labelledby="for-tab">
          {% if argumentsf %}
          <div class="list-group" data-vote-url="{% url 'votedebate' %}">
            {% for argument in argumentsf %}
            <div class="list-group-item list-group-item-action flex-column align-items-start" data-debate-id="{{debate.id}}">
              <div class="d-flex w-100 justify-content-between">
                <a href="{% url 'argument' tname=debate.topic.name did=debate.id aid=argument.id %}" class="atit"><h5 class="mb-1">{{argument.title}}</h5></a>
              </div>


                <p class="mb-1">{{argument.body|markdown}}</p>

                <small><a href="{% url 'profile' uname=argument.owner.username %}">{{argument.owner.username}}</a> - <span title="{{argument.created_on|date:"c"}}">{{argument.created_on|date:"D d M Y f A"}}</span> - {% if argument.approvedstatus == 0 %}<span class="badge badge-pill badge-primary">Approved</span>{% elif argument.approvedstatus == 1 %}<span class="badge badge-pill badge-secondary">Unapproved</span>{% elif argument.approvedstatus == 2 %}<span class="badge badge-pill badge-danger">Denied</span>{% endif %}</small>



            </div>
            {% endfor %}
          </div>



          {% if prevbf %}<a class="btn btn-outline-primary" href="{% url 'debate' tname=topic.name did=debate.id%}?countf={{countf|add:"-10"}}&counta={{counta}}">‹‹ Previous</a>{% endif %}
          {% if nextbf %}<a class="btn btn-outline-primary" href="{% url 'debate' tname=topic.name did=debate.id%}?countf={{countf|add:"10"}}&counta={{counta}}">Next ››</a>{% endif %}
          {% else %}
          No arguments found.
          {% endif %}
        </div>
        <div class="tab-pane fade" id="against" role="tabpanel" aria-labelledby="against-tab">
          {% if argumentsa %}
          <div class="list-group" data-vote-url="{% url 'votedebate' %}">
            {% for argument in argumentsa %}
            <div class="list-group-item list-group-item-action flex-column align-items-start" data-debate-id="{{debate.id}}">
              <div class="d-flex w-100 justify-content-between">
                <a href="{% url 'argument' tname=debate.topic.name did=debate.id aid=argument.id %}" class="atit"><h5 class="mb-1">{{argument.title}}</h5></a>
              </div>


                <p class="mb-1">{{argument.body|markdown}}</p>

                <small><a href="{% url 'profile' uname=argument.owner.username %}">{{argument.owner.username}}</a> - <span title="{{argument.created_on|date:"c"}}">{{argument.created_on|date:"D d M Y f A"}}</span> - {% if argument.approvedstatus == 0 %}<span class="badge badge-pill badge-primary">Approved</span>{% elif argument.approvedstatus == 1 %}<span class="badge badge-pill badge-secondary">Unapproved</span>{% elif argument.approvedstatus == 2 %}<span class="badge badge-pill badge-danger">Danger</span>{% endif %}</small>

            </div>
            {% endfor %}
          </div>



          {% if prevba %}<a class="btn btn-outline-primary" href="{% url 'debate' tname=topic.name did=debate.id%}?countf={{countf}}&counta={{counta|add:"-10"}}&tab=1">‹‹ Previous</a>{% endif %}
          {% if nextba %}<a class="btn btn-outline-primary" href="{% url 'debate' tname=topic.name did=debate.id%}?countf={{countf}}&counta={{counta|add:"10"}}&tab=1">Next ››</a>{% endif %}
          {% else %}
          No arguments found.
          {% endif %}
        </div>
        </div>
      </div>
    </main>

{% endblock %}

{% block endjs %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" integrity="sha384-xfK7Pd4lZwvHpwqHVm6CLkaaJWD3pwmicCjngjDHNBjH5tYAr4ZsgFBEbtnjI1zD" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "debates/js/debate.js" %}"></script>{% endblock %}
