{% extends "base.html" %}
{% load markdown humanize static %}

{% block title %}{{debate.question}} - {{topic.name}}{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static "debates/css/debate.css" %}">{% endblock %}

{% block body %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-1 align-middle" id="karmad">
          <div class="align-middle" id="voting" data-debate-id="{{debate.id}}" data-vote-url="{% url 'votedebate' %}">
            {% if request.user.is_authenticated %}<div class="arrow-up{% if vote == 1 %}-selected{% endif %} votebtn"></div>{% endif %}
            <span class="karmacount" title="karma (votes)">{{debate.karma|intcomma}}</span>
            {% if request.user.is_authenticated %}<div class="arrow-down{% if vote == -1 %}-selected{% endif %} votebtn"></div>{% endif %}
          </div>
        </div>
        <div class="col-md-11">
          <h1 class="mt-5">{{debate.question}}</h1>
          Topic: <a href="{{topic.get_absolute_url}}">{{topic.name}}</a> -
          Owner:
          <a href="{{debate.owner.get_absolute_url}}">{{debate.owner.username}}</a> -
          Security Level: {{debate.slvl}}{% if debate.approvalstatus == 0 %} <span class="badge badge-pill badge-success">Approved</span>{% elif debate.approvalstatus == 2 %} <span class="badge badge-pill badge-danger">Denied</span>{% endif %} - <a href="{% url 'editdebate' tname=topic.name did=debate.id %}">Edit/View source</a> - <a href="{% url 'debateedits' tname=topic.name did=debate.id %}">Edits</a> - {% if topic.slvl > 1 %}<span title="{{debate.approved_on|date:"c"}}">Approved on {{debate.approved_on|date:"D d M Y f A"}}</span>{% else %}<span title="{{debate.created_on|date:"c"}}">Created on {{debate.created_on|date:"D d M Y f A"}}</span>{% endif %}
          {% if debate.modnote %}
          {% load modnotes %}
          {% modnotes debate.modnote|markdownf %}
          {% endif %}
          <br>
          {{debate.description|markdownf}}
        </div>
      </div>
      <a href="{% url 'submitargument' %}?debate={{debate.id}}" class="btn btn-primary btn-sm">Submit Argument</a>
      <a href="{{ debate.get_absolute_url }}">Default Arguments</a> -
      <a href="{% url 'debateapproved' tname=topic.name did=debate.id %}">Approved Arguments</a> -
      <a href="{% url 'debateunapproved' tname=topic.name did=debate.id %}">Unapproved Arguments</a> -
      <a href="{% url 'debatedenied' tname=topic.name did=debate.id %}">Denied Arguments</a>
      <h1>{% if apprs == 0 %}Approved {% elif apprs == 1 %}Unapproved {% elif apprs == 2 %}Denied {% endif %}Arguments</h1>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="for-tab" data-toggle="tab" href="#for" role="tab" aria-controls="for" aria-selected="true">For</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="against-tab" data-toggle="tab" href="#against" role="tab" aria-controls="against" aria-selected="false">Against</a>
        </li>
      </ul>
      <br>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="for" role="tabpanel" aria-labelledby="for-tab">
          {% if argumentsf %}
          <div class="list-group" data-vote-url="{% url 'votedebate' %}">
            {% for argument in argumentsf %}
            <div class="list-group-item list-group-item-action flex-column align-items-start" data-debate-id="{{debate.id}}">
              <div class="d-flex w-100 justify-content-between">
                <a href="{{argument.get_absolute_url}}" class="atit"><h5 class="mb-1">{{argument.title}}</h5></a>
              </div>
                <p class="mb-0 argdesc">{{argument.body|markdownf}}</p>
                <small class="sinfo"><a href="{{argument.owner.get_absolute_url}}">{{argument.owner.username}}</a> - <span title="{{argument.created_on|date:"c"}}">{{argument.created_on|date:"D d M Y f A"}}</span> - {% if argument.approvalstatus == 0 %}<span class="badge badge-pill badge-primary">Approved</span>{% elif argument.approvalstatus == 1 %}<span class="badge badge-pill badge-secondary">Unapproved</span>{% elif argument.approvalstatus == 2 %}<span class="badge badge-pill badge-danger">Denied</span>{% endif %}</small>



            </div>
            {% endfor %}
          </div>



          {% if argumentsf.has_other_pages %}
          {% load proper_paginate %}
          {% load link_name %}
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if argumentsf.number == 1 %}
              <li class="page-item disabled"><span class="page-link">⇤</span></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{request.get_full_path|link_namef:1|link_namea:pagea}}">⇤</a></li>
              {% endif %}
              {% if not argumentsf.has_previous %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="{{request.get_full_path|link_namef:argumentsf.previous_page_number|link_namea:pagea}}" tabindex="-1">&laquo;</a>
              </li>
              {% endif %}
              {% for p in argumentsf.paginator|proper_paginate:argumentsf.number %}
              {% if argumentsf.number == p %}
              <li class="page-item active">
                <a class="page-link" href="{{request.get_full_path|link_namef:p|link_namea:pagea}}">{{p}} <span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{request.get_full_path|link_namef:p|link_namea:pagea}}">{{p}}</a></li>
              {% endif %}
              {% endfor %}
              {% if not argumentsf.has_next %}
              <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="{{request.get_full_path|link_namef:argumentsf.next_page_number|link_namea:pagea}}">&raquo;</a>
              </li>
              {% endif %}
              {% if argumentsf.number == argumentsf.paginator.num_pages %}
                <li class="page-item disabled"><span class="page-link">⇥</span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ request.get_full_path|link_namef:argumentsf.paginator.num_pages|link_namea:pagea}}">⇥</a></li>
                {% endif %}
            </ul>
          </nav>
          {% endif %}
          {% else %}
          No arguments found.
          {% endif %}
        </div>
        <div class="tab-pane fade" id="against" role="tabpanel" aria-labelledby="against-tab">
          {% if argumentsa %}
          <div class="list-group" data-vote-url="{% url 'votedebate' %}">
            {% for argument in argumentsa %}
            <div class="list-group-item list-group-item-action flex-column align-items-start" data-debate-id="{{debate.id}}">
              <div class="d-flex w-100 justify-content-between">
                <a href="{{argument.get_absolute_url}}" class="atit"><h5 class="mb-1">{{argument.title}}</h5></a>
              </div>
                <p class="mb-0">{{argument.body|markdownf}}</p>
                <small class="sinfo"><a href="{{argument.owner.get_absolute_url}}">{{argument.owner.username}}</a> - <span title="{{argument.created_on|date:"c"}}">{{argument.created_on|date:"D d M Y f A"}}</span> - {% if argument.approvalstatus == 0 %}<span class="badge badge-pill badge-primary">Approved</span>{% elif argument.approvalstatus == 1 %}<span class="badge badge-pill badge-secondary">Unapproved</span>{% elif argument.approvalstatus == 2 %}<span class="badge badge-pill badge-danger">Danger</span>{% endif %}</small>

            </div>
            {% endfor %}
          </div>



          {% if argumentsa.has_other_pages %}
          {% load proper_paginate %}
          {% load link_name %}
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if argumentsa.number == 1 %}
              <li class="page-item disabled"><span>⇤</span></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{request.get_full_path|link_namef:pagef|link_namea:1}}">⇤</a></li>
              {% endif %}
              {% if not argumentsa.has_previous %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="{{request.get_full_path|link_namef:pagef|link_namea:argumentsa.previous_page_number}}" tabindex="-1">&laquo;</a>
              </li>
              {% endif %}
              {% for p in argumentsa.paginator|proper_paginate:argumentsa.number %}
              {% if argumentsa.number == p %}
              <li class="page-item active">
                <a class="page-link" href="{{request.get_full_path|link_namef:pagef|link_namea:p}}">{{p}} <span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{request.get_full_path|link_namef:pagef|link_namea:p}}">{{p}}</a></li>
              {% endif %}
              {% endfor %}
              {% if not argumentsa.has_next %}
              <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="{{request.get_full_path|link_namef:pagef|link_namea:argumentsa.next_page_number}}">&raquo;</a>
              </li>
              {% endif %}
              {% if argumentsa.number == argumentsa.paginator.num_pages %}
                <li class="page-item disabled"><span class="page-link">⇥</span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ request.get_full_path|link_namef:pagef|link_namea:argumentsa.paginator.num_pages}}">⇥</a></li>
                {% endif %}
            </ul>
          </nav>
          {% endif %}
          {% else %}
          No arguments found.
          {% endif %}
        </div>
        </div>
      </div>
    </main>

{% endblock %}

{% block endjs %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" integrity="sha384-xfK7Pd4lZwvHpwqHVm6CLkaaJWD3pwmicCjngjDHNBjH5tYAr4ZsgFBEbtnjI1zD" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "debates/js/debate.js" %}"></script>{% endblock %}
