{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %}Edit Argument "{{ argument.title }}" - Ritser{% endblock %}

{% block body %}

<main role="main" class="container">
  <h1 class="mt-5">Edit Argument "{{ argument.title }}"</h1>
  <p>View the rules <a href="{% url 'rules' %}">here.</a></p>
  <form action="{{ argument.get_edit_url }}" method="post">
    {% csrf_token %}
    {% include 'snippets/formerrors.html' %}
    {# Include the visible fields #}
    {% include 'snippets/formfields.html' %}
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</main>
{% endblock %}
