{% extends "base.html" %}
{% load static %}

{% block title %}Feed - Ritser{% endblock %}

{% block body %}
    <main role="main" class="container">
      <h1 class="mt-5">Feed</h1>
      {% if topics %}Topics: {% for topic in topics %}{% if not forloop.first %}, {% endif %}<a href="{{ topic.get_absolute_url}}">{{topic.name }}</a>{% endfor %}{% if topics|length > 20 %}...{% endif %}
      <br>
      Remove or add topics in your <a href="{% url 'profile' %}">profile page.</a>
      <hr />
       <br>
      {% include 'snippets/debateslist.html' %}
      {% if debates.has_other_pages %}
      {% load paginator %}
      {% load link_name %}
      {% paginator debates request %}
      {% endif %}
      {% else %}No subscribed topics found. Add a few topics in your <a href="{% url 'profile' %}">profile page</a> to get started.{% endif %}
    </main>

{% endblock %}