{% extends "base.html" %}

{% load widget_tweaks static %}

{% block title %}Report - MoDebate{% endblock %}

{% block body %}

<main role="main" class="container">
  <h1>Report</h1>
  <p>View the rules <a href="{% url 'rules' %}">here.</a></p>
  <form action="{% url 'report' %}" method="post">
    {% csrf_token %}
    {% include 'snippets/formerrors.html' %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {% render_field field class="form-control" %}
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</main>
{% endblock %}

{% block endjs %}
<script src="{% static 'debates/js/report.js' %}"></script>
{% endblock %}