{% extends "base.html" %}

{% load static %}

{% block title %}Rules - MoDebate{% endblock %}

{% block head %}
<meta name="description" content="MoDebate's policies and how our website works.">
{% endblock %}

{% block body %}
  <main class="container">
    <div class="page-header">
      <h1>Rules</h1>
    </div>
    <p>MoDebate is a website that relies on user generated content and in order to serve our users better, we have created a set of rules for everyone to follow. The ways we deal with content policy violations are listed in their respective subsections.</p>
    <h2 id="contentpolicy">Content Policy</h2>
    <ol>
        <li>
            All types of content
            <ol>
                <li>
                    Must be legal
                    <ol>
                        <li>Usually punishable by deletion of the content and/or a user ban, but we may sometimes take other action in order to comply with the law</li>
                    </ol>
                </li>
                <li>
                    Must be on-topic
                    <ol>
                        <li>
                            If only some of the content is off-topic, only that offending section is edited out, otherwise the content is 
                            <ol>
                                <li>Denied if it is a debate</li>
                                <li>Deleted if it is an argument</li>
                                <li>Shut down if it is a topic</li>
                                <li>Deleted if it is anything else</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    Must not be spam (discussing a company is okay, advertising it is not)
                    <ol>
                        <li>Punishable by deletion of the content and/or a suspension/permanent account ban</li>
                    </ol>
                </li>
                <li>
                    Must not include someone’s personal information
                    <ol>
                        <li>Punishable by deletion of the content and/or a suspension/permanent account ban</li>
                    </ol>
                </li>
                <li>
                    Must not be harassment
                    <ol>
                        <li>Punishable by deletion of the content and/or a suspension/permanent account ban</li>
                    </ol>
                </li>
                <li>
                    Must not be emotionally manipulative
                    <ol>
                        <li>
                            The user may be issued a suspension/permanent ban and the content is
                            <ol>
                                <li>Denied if it is a debate</li>
                                <li>Denied if it is an argument</li>
                                <li>Shut down if it is a topic</li>
                                <li>Deleted if it is anything else</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    Must not manipulate people's biases
                    <ol>
                        <li>
                            The user may be issued a suspension/permanent ban and the content is
                            <ol>
                                <li>Denied if it is a debate</li>
                                <li>Denied if it is an argument</li>
                                <li>Shut down if it is a topic</li>
                                <li>Deleted if it is anything else</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    Must not duplicate other content on MoDebate
                    <ol>
                        <li>
                            The content is
                            <ol>
                                <li>Denied if it is a debate</li>
                                <li>Denied if it is an argument</li>
                                <li>Shut down if it is a topic</li>
                                <li>Deleted if it is anything else</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Arguments
            <ol>
                <li>
                    Must provide verifiable evidence
                    <ol>
                        <li>The argument is denied</li>
                    </ol>
                </li>
                <li>
                    Must present an argument that contributes to the debate
                    <ol>
                        <li>The argument is denied</li>
                    </ol>
                </li>
                <li>
                    Must not provide details that are considered unnecessary
                    <ol>
                        <li>The argument is shortened or denied</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Debates
            <ol>
                <li>
                    Must not be biased in favour of either side
                    <ol>
                        <li>The debate is denied</li>
                    </ol>
                </li>
                <li>
                    Must have a reasonably useful description
                    <ol>
                        <li>The debate is denied or a reasonably useful description is edited in</li>
                    </ol>
                </li>
                <li>
                    Must not be about personal preferences (e.g., "Is chocolate or vanilla ice cream better?")
                    <ol>
                        <li>The debate is denied</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Topics
            <ol>
                <li>
                    Must not be biased in favour of either side
                    <ol>
                        <li>The topic is shut down or taken over by MoDebate</li>
                    </ol>
                </li>
                <li>
                    Must have a moderator team that can handle all submissions within 72 hours
                    <ol>
                        <li>The topic is taken over by MoDebate</li>
                    </ol>
                </li>
                <li>
                    Must have a reasonably useful description
                    <ol>
                        <li>The topic is shut down or taken over by MoDebate</li>
                    </ol>
                </li>
                <li>
                    Must have a public channel listed in the description where users may contact them
                    <ol>
                        <li>The topic is shut down or taken over by MoDebate</li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
    <h2 id="userpolicy">User Policy</h2>
    <ol>
        <li>
            Users
            <ol>
                <li>Must not impersonate someone else</li>
                <li>Must not vote on debates on the basis of something other than how useful they are or their compliance with the rules</li>
                <li>Must not remove useful content (even from their own submissions) that does not violate the rules by editing or deleting it if they are not replacing it with similar content</li>
                <li>Must not abuse or attempt to break or interfere with the appropriate usage of the site in any way</li>
                <li>Must not create other accounts in order to evade their bans</li>
                <li>Must not offer bribes to moderators to avoid punishment</li>
            </ol>
        </li>
        <li>
            Moderators (including owners of topics)
            <ol>
                <li>May only punish people on the basis of the rules</li>
                <li>May only use the punishments defined in the subsections of the rules broken (or issue a verbal warning)</li>
                <li>Must not accept bribes in exchange for reduced or no punishment</li>
                <li>May use their editing powers in order to improve the quality of content on MoDebate</li>
                <li>May take over content which repeatedly is in violation of the content policy because of its owner</li>
                <li>May change the security level of a topic/debate to a level reasonable enough to limit spam and manipulation but not to censor (MoDebate errs on the side of free speech.)</li>
                <li>Must not use their powers for any reason not described in the rules</li>
                <li>Must include as much information as possible regarding their actions in the moderator notes</li>
            </ol>
        </li>
        <li>
            Global Moderators
            <ol>
                <li>Must follow the moderator rules</li>
                <li>May issue a suspension/permanent ban against users who repeatedly violate the rules</li>
                <li>May issue a suspension/permanent ban against users who violate the User Policy and remove them as moderators of topics</li>
                <li>Must not issue an unreasonably long suspension</li>
            </ol>
        </li>
    </ol>
    <h2 id="suspensions">Suspensions</h2>
    <p>If a user has violated a rule severely enough, a suspension may be issued by staff. This is temporary and simply means you may not perform the following actions:</p>
    <ul>
        <li>
            Vote on a Debate
        </li>
        <li>
            Submit/edit an argument
        </li>
        <li>
            Submit/edit a debate
        </li>
        <li>
            Submit/edit a topic
        </li>
    </ul>
    <h2 id="securitylevels">Security Levels</h2>
    <p>Security levels are a featured designed to help combat spam and manipulation. There are two types of security level settings, one for topics (that restricts the submission and visibility of debates), and one for debates (that restricts the submission and visibility of arguments).</p>
    <p>There are three available security level settings to choose from for topics: 0, 1, 2, and 3. For level 0 topics, all users can submit debates. For level 1 topics, only users with at least 10 approved arguments can submit a debate. For level 2 topics, the same requirement applies, but only approved debates are publicly listed. For level 3 topics, only moderators can submit debates.</p>
    <p>The system is different for debates. At security levels 0 and 1, all users can submit an argument, with the difference being that denied arguments are not visible by default for debates with a security level of 1 (but unapproved and approved arguments are). Debate security level 2 is similar to 1, but only users with at least 20 approved arguments can post. For security level 3, 20 approved arguments are required and only approved arguments are visible. For security level 4, only moderators can submit arguments.</p>
    <h2 id="order">Order of Arguments</h2>
    <p>Arguments are ordered by their approval status (approved arguments first, then unapproved arguments, then denied arguments) by default, but when there are multiple arguments with the same approval status, they are ordered by their order property (arguments with a higher order value get ranked higher), and if they share the same order, they will be ranked based on how many approved arguments the owner has.</p>
    <h2 id="topic">Owning/Moderating a Topic</h2>
    <p>To own a topic on MoDebate, you must have at least 20 approved arguments and you can also only own a maximum of 5 topics. You can, however, be the moderator of as many topics as you'd like. Please make sure to follow the User Policy and Content Policy as using your moderator powers inappropriately may result in consequences. Please don't forget to include a method for users to contact your moderator team in the topic description in case any user needs more information regarding your topic or its moderator team.</p>
    <h2 id="markdown">Markdown</h2>
    <p>We use a modified version of markdown on MoDebate. Keep in mind, however, that we do not support direct image linking for security purposes.</p>
    <table class="table">
        <tr>
            <th scope="col">Syntax</th>
            <th scope="col">Alternative Syntax</th>
            <th scope="col">Result</th>
        </tr>
        <tr>
            <td>*Italics*</td>
            <td>_Italics_</td>
            <td><i>Italics</i></td>
        </tr>
        <tr>
            <td>**Bold**</td>
            <td>__Bold__</td>
            <td><strong>Bold</strong></td>
        </tr>
        <tr>
            <td>~~Strikethrough~~</td>
            <td></td>
            <td><del>Strikethrough</del></td>
        </tr>
        <tr>
            <td>^^Underline^^</td>
            <td></td>
            <td><ins>Underline</ins></td>
        </tr>
        <tr>
            <td>#Heading</td>
            <td>
                Heading
                <br>
                ======
            </td>
            <td><h1>Heading</h1></td>
        </tr>
        <tr>
            <td>##Heading 2</td>
            <td>
                Heading 2
                <br>
                ------------
            </td>
            <td><h2>Heading 2</h2></td>
        </tr>
        <tr>
            <td>[Link](https://google.com)</td>
            <td>
                [Link][2]
                <br>
                ...
                <br>
                [2]: https://google.com
            </td>
            <td><a href="https://google.com">Link</a></td>
        </tr>
        <tr>
            <td>> Blockquote</td>
            <td></td>
            <td><blockquote class="blockquote">Blockquote</blockquote></td>
        </tr>
        <tr>
            <td>
                * List
                <br>
                * List
                <br>
                * List
                <br>
                <strong>Note:</strong> *, -, and + can all be used to make a list.
            </td>
            <td>
                - List
                <br>
                - List
                <br>
                - List
            </td>
            <td>
                <ul>
                    <li>List</li>
                    <li>List</li>
                    <li>List</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                1. One
                <br>
                2. Two
                <br>
                3. Three
            </td>
            <td>
                1) One
                <br>
                2) Two
                <br>
                3) Three
            </td>
            <td>
                <ol>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                Horizontal Rule
                <br>
                ---
            </td>
            <td>
                Horizontal Rule
                <br>
                ***
            </td>
            <td>
                Horizontal Rule
                <br>
                <hr>
            </td>
        </tr>
        <tr>
            <td>Inline `code`</td>
            <td></td>
            <td>Inline <code>code</code></td>
        </tr>
        <tr>
            <td>
                ```<br>alert("fenced code block");
                <br>
                alert("this can take up multiple lines");<br>```
            </td>
            <td></td>
            <td>
                <code>
                    alert("code block");
                    <br>
                    alert("this can take up multiple lines");
                </code>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;alert("indented code block");
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;alert("this can take up multiple lines");
            </td>
            <td></td>
            <td>
                <pre><code>alert("code block");
alert("this can take up multiple lines");</code></pre>
            </td>
        </tr>
        <tr>
            <td>
                | This   | is         | a     |<br>
                |--------|------------|-------|<br>
                | sample | 3x3        | table |<br>
                | for    | displaying | data  |<br>
                <strong>Note:</strong> To make things easier, there are online <br>markdown table generators available that you<br> can use.
            </td>
            <td></td>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th>This</th>
                            <th>is</th>
                            <th>a</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sample</td>
                            <td>3x3</td>
                            <td>table</td>
                        </tr>
                        <tr>
                            <td>for</td>
                            <td>displaying</td>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>H~2~O</td>
            <td></td>
            <td>H<sub>2</sub>O</td>
        </tr>
        <tr>
            <td>19^th^</td>
            <td></td>
            <td>19<sup>th</sup></td>
        </tr>
        <tr>
            <td>
                Footnote 1 link[^first].<br>
                Footnote 2 link[^second].<br>
                Another Footnote 2 link[^second].<br>
                [^first]: Footnotes **can have markup**<br>
                <br>
                and multiple paragraphs.<br>
                [^second]: Footnote text.
            </td>
            <td></td>
            <td>
                <p>Footnote 1 link<sup id="fnref:first"><a href="#fn:first">1</a></sup>.</p>
                <p>Footnote 2 link<sup id="fnref:second"><a href="#fn:second">2</a></sup>.</p>
                <p>Duplicated footnote reference<sup id="fnref2:second"><a href="#fn:second">2</a></sup>.</p>
                <br>[at the end of the text]<br>
                <div>
                <hr>
                <ol>
                <li id="fn:first">
                <p>Footnote <strong>can have markup</strong></p>
                <p>and multiple paragraphs.&#160;<a href="#fnref:first" title="Jump back to footnote 1 in the text">&#8617;</a></p>
                </li>
                <li id="fn:second">
                <p>Footnote text.&#160;<a href="#fnref:second" title="Jump back to footnote 2 in the text">&#8617;</a><a href="#fnref2:second" title="Jump back to footnote 2 in the text">&#8617;</a></p>
                </li>
                </ol>
                </div>
            </td>
        </tr>
    </table>
  </main>
{% endblock %}
