{% extends "base.html" %}
{% load static %}

{% block title %}Search - MoDebate{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static "debates/css/topic.css" %}">{% endblock %}

{% block body %}
    <main role="main" class="container">
      <h1 class="mt-5">Search</h1>
      <br>
      <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
          <input class="form-control mr-sm-2 col-md-10" type="search" name="q" value="{{query}}" placeholder="Search for a debate" aria-label="Search">
          <input class="form-control mr-sm-2 col-md-10" type="search" name="t" value="{{tname}}" placeholder="Topic to search in (leave blank to search in all topics)" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <hr />
       <br>
     
      {% include 'snippets/debateslist.html' %}
      {% if debates.has_other_pages %}
      {% load paginator %}
      {% load link_name %}
      {% paginator debates request %}
      {% endif %}
    </main>

{% endblock %}

{% block endjs %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" integrity="sha384-xfK7Pd4lZwvHpwqHVm6CLkaaJWD3pwmicCjngjDHNBjH5tYAr4ZsgFBEbtnjI1zD" crossorigin="anonymous"></script>
<script src="{% static "debates/js/debatevote.js" %}"></script>{% endblock %}
