{% extends "base.html" %}


{% load humanize %}
{% load static %}

{% block title %}{% if topic.title != "" %}{{ topic.title }}{% else %}t/{{ topic.name }}{% endif %}{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static "debates/css/topic.css" %}">{% endblock %}

{% block body %}
    <main role="main" class="container">
      <h1 class="mt-5">{{ctopicn}}</h1>
      <p class="lead">{{topic.title}}</p>
      <a href="{% url 'topicinfo' tname=topic.name %}">Details Page</a>
      <div class="row">
        <div class="col-md-6">Owner:
          <a href="{% url 'profile' uname=topic.owner.username %}">
            {{topic.owner.username}}
          </a><br> Security Level: {{topic.slvl}}
          <br>
          Default Debate Security Level: {{topic.debslvl}}
          <br>
          Created on {{topic.created_on|date}}
          <br>
          Sorting method:
          <select onchange="changesort()" id="sorts">
            <option value="top">Top</option>
            <option value="lowest">Lowest</option>
            <option value="new">New</option>
            <option value="random">Random</option>
          </select>
        </div>
        <div class="col-md-6 text-md-right">Moderators: {% for mod in fmods %}{% if not forloop.first %}, {% endif %}<a href="{% url 'profile' uname=mod.username %}">{{mod.username}}</a>{% endfor %}{% if mods|length > 10 %}...{% endif %}</div>
      </div>
      <hr />
       <br>
      {% if debates %}
      <div class="list-group" data-vote-url="{% url 'votedebate' %}">
      {% for debate in debates %}
        <div class="list-group-item list-group-item-action flex-column align-items-start container" data-debate-id="{{debate.id}}">
          <div class="row">
            <div class="col-md-1 karmad">
              {% if request.user.is_authenticated %}<div class="arrow-up{% if debate in dupvoted %}-selected{% endif %} votebtn"></div>{% endif %}
              <span class="karmacount" title="karma (votes)">{{debate.karma|intcomma}}</span>
              {% if request.user.is_authenticated %}<div class="arrow-down{% if debate in ddownvoted %}-selected{% endif %} votebtn"></div>{% endif %}
            </div>
            <div class="col-md-11">
              <div class="d-flex w-100 justify-content-between">
                <a href="{% url 'debate' tname=topic.name did=debate.id %}" class="dtit"><h5 class="mb-1">{{debate.question}}</h5></a>
              </div>


              <p class="mb-1">{{debate.description|truncatewords:50}}</p>

              <small><a href="{% url 'profile' uname=debate.owner.username %}">{{debate.owner.username}}</a> - <span title="{{debate.approved_on|date:"c"}}">{{debate.approved_on|date:"D d M Y f A"}}</span></small>
              <div class="arglinks">
                <a href="{% url 'debateapproved' tname=topic.name did=debate.id %}" class="badge badge-primary">Approved</a>
                <a href="{% url 'debateunapproved' tname=topic.name did=debate.id %}" class="badge badge-secondary">Unapproved</a>
                <a href="{% url 'debatedenied' tname=topic.name did=debate.id %}" class="badge badge-danger">Denied</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% else %}
      No debates found.
      {% endif %}

      {% if prevb %}<a class="btn btn-outline-primary" href="{% url 'topic' tname=topic.name%}?count={{count|add:"-30"}}{% if sort %}&sort={{sorta}}{% endif %}">‹‹ Previous</a>{% endif %}
      {% if nextb %}<a class="btn btn-outline-primary" href="{% url 'topic' tname=topic.name%}?count={{count|add:"30"}}{% if sort %}&sort={{sorta}}{% endif %}">Next ››</a>{% endif %}
    </main>

{% endblock %}

{% block endjs %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" integrity="sha384-xfK7Pd4lZwvHpwqHVm6CLkaaJWD3pwmicCjngjDHNBjH5tYAr4ZsgFBEbtnjI1zD" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "debates/js/topic.js" %}"></script>{% endblock %}
