{% extends "base.html" %}
{% load markdown_deux_tags %}


{% load static %}

{% block title %}{% if topic.title != "" %}{{ topic.title }}{% else %}t/{{ topic.name }}{% endif %}{% endblock %}

{% block body %}
    <main role="main" class="container">
      <h1 class="mt-5">{{ctopicn}}</h1>
      <p class="lead">{{topic.title}}</p>
      <a href="{% url 'topic' tname=topic.name %}">Main Page</a>
      <div class="row">
        <div class="col-md-6">Owner: <a href="{% url 'profile' uname=topic.owner.username %}">{{topic.owner.username}}</a><br>Security Level: {{topic.slvl}}<br>Default Debate Security Level: {{topic.debslvl}}<br>Created on {{topic.created_on|date}}</div>
        <div class="col-md-6 text-md-right">Moderators: {% for mod in mods %}{% if not forloop.first %}, {% endif %}<a href="{% url 'profile' uname=mod.username %}">{{mod.username}}</a>{% endfor %}</div>
      </div>
      <hr />
      {{topic.description|markdown}}
    </main>
{% endblock %}
