.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 20px solid #a5c7ff;
  margin: 0 auto;
}

.arrow-up-selected {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 20px solid #287aff;
  margin: 0 auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #ffb2b2;
  margin: 0 auto;
}

.arrow-down-selected {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #ff2828;
  margin: 0 auto;
}

.atit {
  color: black;
  text-decoration: none;
  word-break: break-word;
  word-wrap: break-word;
}
.atit:hover {
  color: black;
  text-decoration: none;
}

#karmad {
  text-align: center;
}

#voting {
  margin-top: 75%;
}

.list-group-item, .list-group-item:hover {
  color: black;
}

.sinfo, .sinfo:hover {
  color: #495057 !important;
}
